blockquote {
    border: 1px solid #ddd;
    background: #eee;
    padding: 10px
}

blockquote pre {
    display: inline-block;
    border: 1px solid #aaa;
    padding: 0 5px;
    border-radius: 10px;
    background-color: #fff;
}

.accordion-body {
    overflow: auto;
    height: 400px;
}